/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.agent_profile {
    padding: 2vw 3vw;
}
.agent_profile_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1280px;
    margin: auto;
    gap: 30px;
}

.agent_listings .single_cards_body {
    margin-bottom: 0 !important;
}
.agent_listings {
    display: flex;
    flex-flow: column;
    gap: 30px;
}
.ap_primary_left {
    width: 100%;
    padding: 30px;
    -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
            box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
    background-color: #fff;
}

.ap_primary_right {
    width: 38%;
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 30px;

}

.ap_primary_left h3 {
    margin: 20px 0;
}

.about_agent p {
    color: #566177  ;
}

.appl_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: auto;
}

.appl_top h2 {
    color: #1a1a1a;
    font-weight: 700;
}

.appr_item {
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
            box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
}

.appr_item h3 {
    margin: 0 0 20px 0 !important;
}

.agent_info_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0 auto;
}

.agent_info_top p {
    margin: 0;
}

h1 {
    color: #1a1a1a;
    font-weight: 700;
    font-size: 32px;
}

h3 {
    font-size: 20px;
    color: #1a1a1a;
    font-weight: 700;
}

.agent_icons_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.agent_icons_top {
    margin-top: 2rem;
}

.agent_icons_top a {
    color: #1a1a1a;
    margin-top: 10px;
}

.agent_icons_top .MuiSvgIcon-root {
    color: #0073e5;
    margin-right: 10px;
}

.appl_top img {
    width: 55%;
    -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
            box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);

    -o-object-fit: cover;

       object-fit: cover;
}

.appl_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            gap: 20px;
            margin-top: 20px;
}



.appl_button {
    
    padding: 11.12px 18px !important;
    background-color: #0073e5 !important;
    color: white !important;
    font-weight: 700;
    border-radius: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
    border: 1px solid #0073e5 !important;
    min-width: 125px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    -webkit-transform: perspective(1) translateZ(0);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
}

.appl_button::before {
    content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #0073e5 !important;
  background: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background: -o-linear-gradient(left, white, white);
  background: linear-gradient(to right, white, white);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.appl_button:hover:before,
.appl_button:focus:before,
.appl_button:active:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  color: white !important;
}

.appl_button:hover,
.appl_button:focus,
.appl_button:active {
    color: #0073e5 !important;
    box-shadow: none !important;
}

.appl_button .MuiSvgIcon-root {
    margin-right: 8px;
}

@media screen and (max-width: 576.98px) {
    .appl_top {
        flex-flow: column;
    }
    .appl_top img {
        width: 100%;
    }
    .agent_listings h3 {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .agent_info_top {
        margin: 30px 0 10px 0;
    }
    .appr_item .featured_listings_flex {
        flex-flow: column !important;
    }
    .appr_item {
        padding: 20px;
    }
    .ap_primary_left {
        padding: 20px;
    }
}

@media screen and (max-width: 1150px) {
    .agent_profile_flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
    }
    .ap_primary_left {
        gap: 30px;
    }
    .ap_primary_right {
        margin-left: 0;
        width: 100%;
    }
    .appr_item .featured_listings_flex {
        flex-flow: row wrap;
    }
   .appr_item .featured_item {
        flex: 1 50%;
    }
}