.agent_profile {
    padding: 2vw 3vw;
}
.agent_profile_flex {
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.ap_primary_left {
    width: 100%;
    padding: 30px;
    box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
    background-color: #fff;
    margin: 0 15px auto 0;
}

.ap_primary_right {
    width: 38%;
    height: 100%;
    margin: 0 0 0 15px;

}

.ap_primary_left h3 {
    margin: 20px 0;
}

.appl_top {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
}

.appr_item {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
    margin-bottom: 30px;
}

.appr_item h3 {
    margin: 0 0 20px 0 !important;
}

.agent_info_top {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.agent_info_top p {
    margin: 0;
}

h1 {
    color: #1a1a1a;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    color: #1a1a1a;
    font-weight: 700;
}

.agent_icons_top {
    display: flex;
    flex-flow: column;
}

.agent_icons_top {
    margin-top: 2rem;
}

.agent_icons_top a {
    color: #1a1a1a;
    margin-top: 10px;
}

.agent_icons_top .MuiSvgIcon-root {
    color: #2196f3;
    margin-right: 10px;
}

.appl_top img {
    width: 55%;
    box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);

    object-fit: cover;
}

.appl_buttons {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem 0 1rem 0;
}

.appl_buttons a {
    background-color: #2196f3;
    color: white;
    padding: 12.36px 20px;
    text-align: center;
    margin: 0 1rem 0 0;
    transition: all 0.2s ease-in;
    border: 1px solid #2196f3;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);

}

.appl_buttons a:hover {
    background-color: #fff;
    color: #2196f3;
}



