.agent_reviews_content {
    position: relative;
}

.agent_reviews {
  width: 100%;
  padding: 0 0 0 0;
  background-color: #f1f2f5;
}

.agent_reviews h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #1a1a1a;
  padding-top: 20px;
}

.agent_reviews_flex {
  max-width: 1280px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.agent_reviews_content {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  margin: 0 15px 0 15px;
  background-color: #fff;
  margin-bottom: 12px;
  position: relative;
}





.agent_reviews h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.agent_reviews p {
  margin: 8px 0 0 0;
}

.agent_reviews img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
  margin-bottom: 0;
  transition: all 0.3s ease;
  filter: brightness(90%);
}

.agent_reviews img:hover {
  filter: brightness(110%);
}

.stars .MuiSvgIcon-root {
  color: #ff9529 !important;
  right: 0 !important;
}

.agent_reviews_content .MuiSvgIcon-root {
  color: #0073e5;
  position: relative;
  right: 8px;
}

.agent_reviews_content a:first-of-type,
.agent_reviews_content a:nth-of-type(2) {
  color: #566177;
}

.corner-ribbon{
  width: 100px;
  height: 100px;
  background: #0073e5;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  clip-path: polygon(50% 0%, 100% 0, 0 100%, 0% 50%);

}

/* Custom styles */

.ribbon_text {
  transform: rotate(-45deg);
  text-align: center;
  position: absolute;
  top: 16px;
  left: 8px;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 0;
  left: 0;
}

  .stars {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 576.98px) {
    .agent_reviews_flex {
    }
    .agent_reviews_content {
      padding: 20px;
      width: 90%;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .agent_reviews_flex {
      flex-wrap: wrap;
    }
    .agent_reviews_content {
      flex: 1 50%;
    }
  }