/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-rendering: optimizeLegibility !important;
}

html,
body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  scroll-behavior: auto !important;
}

a {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

h1,
h2,
h3 {
  font-family: "Prata", sans-serif !important;
}

body p {
  line-height: 1.618 !important;
}

.dark_gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.618)), to(rgba(0, 0, 0, 0.001)));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.618), rgba(0, 0, 0, 0.001));
  background: linear-gradient(rgba(0, 0, 0, 0.618), rgba(0, 0, 0, 0.001));
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;
}

.hero_container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  margin: auto !important;
}
.hero_content {
  width: 500px;
  color: #333;
  background-color: #fff;
  padding: 20px;
  margin-right: 100px;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.hero_content h1 {
  font-weight: 700;
}

.hero_button,
.lp_cards_button,
.pspr_top_button,
.signup_button {
  padding: 11.12px 18px !important;
  background-color: #0073e5 !important;
  color: white !important;
  font-weight: 700;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
          box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
  border: 1px solid #0073e5 !important;
  min-width: 100px;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  -webkit-transform: perspective(1) translateZ(0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.hero_button::before,
.lp_cards_button::before,
.pspr_top_button::before,
.signup_button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #0073e5 !important;
  background: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background: -o-linear-gradient(left, white, white);
  background: linear-gradient(to right, white, white);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero_button:hover:before,
.hero_button:focus:before,
.hero_button:active:before,
.lp_cards_button:hover:before,
.lp_cards_button:focus:before,
.lp_cards_button:active:before,
.pspr_top_button:hover:before,
.pspr_top_button:focus:before,
.pspr_top_button:active:before,
.signup_button:hover:before,
.signup_button:focus:before,
.signup_button:active:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  color: white !important;
}

.hero_button:hover,
.hero_button:focus,
.hero_button:active,
.lp_cards_button:hover,
.lp_cards_button:focus,
.lp_cards_button:active,
.pspr_top_button:hover,
.pspr_top_button:focus,
.pspr_top_button:active,
.signup_button:hover,
.signup_button:focus,
.signup_button:active
 {
  color: #0073e5 !important;
  box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #0073e5;
}

.send_button:hover,
.send_button:focus,
.send_button:active {
  box-shadow: none;
}

.d-block {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_slider {
  position: absolute !important;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}


.carousel-control-next-icon::after,
.carousel-control-prev-icon::after {
  position: relative !important;
  top: -4px !important;
  border-radius: 100% !important;
}

.carousel-indicators li {
  height: 8px;
}

/* ----- SortContent ----- */

.sort_table {
  max-width: 900px;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
  border: 1px solid #d4d4d4;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: auto;
  position: relative;
  top: -3.35rem;
  z-index: 5;
  padding: 30px 50px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input:focus,
input:active {
  border-color: #0073e5 !important;
  color: #0073e5;
}

.filter_btn {
  cursor: pointer;
}

.property_sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.property_dropdown {
  background-color: #fff !important;
  color: #1a1a1a !important;
  max-width: 150px;
  margin: 0 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border: 1px solid #0073e5;
  cursor: pointer;
  font-weight: 700;
}
.property_dropdown:hover,
.property_dropdown:active {
  background-color: #0073e5 !important;
  color: white !important;
  border-color: #0073e5;
}
.dropdown-item {
  -webkit-transition: all 0.23s ease-in;
  -o-transition: all 0.23s ease-in;
  transition: all 0.23s ease-in;
}
.dropdown-item:hover {
  background-color: #0073e5 !important;
  color: white !important;
}

.search_icon {
  margin-right: 8px;
}

.form-outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.MuiSvgIcon-root {
}

/* ----- LandingPageCards ----- */

.lp_cards_bg {
  width: 100%;
}
.lp_cards {
  width: 100%;
  padding: 0 30px 30px 30px;
}

.lp_cards h2 {
  text-align: center;
  color: #1a1a1a;
  font-weight: 700;
}

.slope1 {
  width: 100%;
  z-index: 2;
  position: relative;
  display: none;
  
}

.slope_reverse {
  width: 100%;
  z-index: 2;
  position: relative;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  display: none;
}

.slope2 {
  width: 100%;
  z-index: 2;
  position: relative;
  margin-bottom: -5px;
  -webkit-transform: scaleX(1) rotate(180deg);
      -ms-transform: scaleX(1) rotate(180deg);
          transform: scaleX(1) rotate(180deg);
  display: none;
}

.lp_cards_title {
  color: #1a1a1a;
  font-family: "Prata", sans-serif;
}

.lp_header_p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 30px auto !important;
  color: #566177 !important;
  font-weight: 600;
}

.lp_cards_flex {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.lpcf_1 {
  margin-bottom: 30px;
}

.lp_cards_body {
  -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
          box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 30%;
          flex: 1 30%;
  margin: 0 15px 30px 15px;
  position: relative;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.lp_cards_body:hover {
  -webkit-box-shadow: 0 0 12px 8.5px rgb(0 0 0 / 12%);
          box-shadow: 0 0 12px 8.5px rgb(0 0 0 / 12%);

}



.lp_cards img {
  width: 100%;
  -webkit-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_img_container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}



.featured_badge {
  font-size: 13px;
  background-color: #de5240 ;
  color: white !important;
  font-weight: 500;
  padding: 1px 8px;
  position: absolute;
  top: 10px !important;
  left: 10px !important;
  margin-bottom: 0;
  /*
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
  */
}

.for_sale_badge {
  font-size: 13px;
  background-color: #0073e5;
  color: white !important;
  font-weight: 500;
  padding: 1px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 0;
}

.featured_badge:hover {
  cursor: default;
}

.lp_cards_body:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}



.lp_cards_content {
  padding: 20px;
}

.lp_cards_content p {
  font-size: 14px;
  color: #566177;
  font-weight: 600;
}

.lp_cards_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.lp_cards_top a:first-of-type {
  color: #1a1a1a;
  font-size: 19px;
  font-weight: 900;
  margin-bottom: 8px;
}
.lp_cards_top a:last-of-type {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  text-decoration: underline;
}

.lp_cards_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lp_cards_center .MuiSvgIcon-root {
  font-size: 20px !important;
  margin: 0;
  color: #5c687d;
}

.lp_cards_center p {
  font-size: 14px !important;
  font-weight: 500 !important;
  margin: 0 12px 0 10px;
}

.card_icon {
  font-size: 1.618rem !important;
  color: #0073e5;
  margin-bottom: 8px;
  margin-right: 8px;
}

.lp_cards_location {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #0073e5 !important;
}

.lp_icon_info_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lp_icon_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lp_icon_flex p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 900;
}

.ml_1 {
  margin-bottom: 4px;
}

.lp_cards_bottom {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 8px;
}

.lp_cards_bottom p:first-of-type {
  color: #1a1a1a;
  font-weight: 900 !important;
}

.color {
  color: #0073e5;
  font-weight: 700;
}
.lp_cards_button {
  background-color: #0073e5;
  color: white;
  font-weight: 700;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
          box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border: 1px solid #0073e5;
  width: 125px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 13px;
  text-transform: uppercase;
}
.lp_cards_button:hover {
  color: #0073e5 !important;
}

.more_button {
  padding: 4px;
  color: #1a1a1a !important;
  text-decoration: none !important;
}

.lp_cards_bottom p:first-of-type {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  color: #566177;
}

.lp_cards_bottom p {
  margin-bottom: 0;
}

.card_img_agent {
  position: absolute;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cia_name,
.card_img_agent p {
  color: white;
  margin: 0 0 0 12px;
}

.MuiAvatar-circle {
  border: 2px solid white;
  width: 55px !important;
  height: 55px !important;
}

/* ----- Apts ----- */

.lp_apts {
  width: 100%;
  background-color: #f1f2f5;
  padding: 60px 30px;
}

.lp_apts_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 1280px;
}

.lp_apts h2 {
  text-align: center;
  color: #1a1a1a;
  font-weight: 700;
}

/* ----- ImgOverlay ----- */

.img_overlay {
  width: 100%;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 75vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
/*
.img_overlay img {
  width: 100%;
  max-height: 100vh;
  filter: brightness(75%);
}
*/

.img_overlay_content {
  position: absolute;
  text-align: center;
  color: white;
  padding: 20px;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 70%);

  width: 100%;
}

.img_overlay_content p {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid #0073e5;
  width: 200px;
  margin: 0 auto 2rem auto;
  padding-bottom: 10px;
}

.img_overlay_content h2,
.img_overlay_content h3 {
  font-size: 36px !important;
  font-weight: 700;
  color: white !important;
}

.button_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.img_overlay_button {
  width: 200px;
  background-color: #0073e5;
  color: white;
  padding: 10px 20px;

  margin: 0 8px;
  font-weight: 500;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.img_overlay_button:hover {
  background-color: #fff;
  color: #0073e5;
}
.iob_2 {
  background-color: #ff9100;
}

.iob_2:hover {
  background-color: #d47800;
  color: white;
}

/* ----- MansionInFoxchapel ----- */

.property_hero {
  width: 100%;
  min-height: 75vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: auto;
}

.property_hero_img {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.property_hero_content {
  position: relative;
  z-index: 5 !important;  
}

.property_hero_content h1 {
  color: #1a1a1a;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  background-color: white;
  padding: 20px 12px 12px 12px;
  box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);


}

.showcase_top_header h2 {
  font-size: 24px;
  color: #1a1a1a;
}

.property_address {
  color: #1a1a1a !important;
  font-weight: 500;
}

.property_price {
  color: #0073e5 !important;
  font-size: 24px;
  font-weight: 900;
}

.property_showcase {
  padding: 2vw 3vw;
}

.showcase_top_header {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.showcase_top_header p {
  margin-bottom: 12px;
}

.home_interior_slider {
  max-width: 1280px;
  margin: auto;
  margin-top: 2rem;
}

.home_interior_slider img {
  max-height: 525px;
}

.property_showcase_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1280px !important;
}

.ps_primary_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
          box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  padding: 30px;
  margin: 0 15px auto 0;
  background-color: #fff;
}

.ps_primary_right {
  width: 38%;
  height: 100%;
  background-color: transparent;
  margin: 0 0 0 15px;
}

.ps_primary_left p {
  color: #222222;
}

.ps_primary_left h3 {
  font-size: 20px !important;
  color: #1a1a1a;
  margin: 20px 0;
}

.ps_primary_right h3 {
  margin: 0 0 20px 0;
}

.pspl_hr {
  margin: 10px 0 0 0 !important;
}
.ps_primary_right hr {
  margin: 30px 0 !important;
}

.pspl_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pspl_top p {
  margin-bottom: 0;
}

.pspl_top .MuiSvgIcon-root {
  margin: 0 12px;
}

.pspl_title {
  font-size: 20px;
  color: #1a1a1a !important;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: "Prata", sans-serif;
}

.pspl_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pspl_description_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pspl_description_top p {
  margin-bottom: 8px;
  color: #1a1a1a;
}

.pspl_description_top .MuiSvgIcon-root {
  color: #0073e5;
  margin-bottom: 8px;
}

.pspl_icon_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pspl_icon_flex h4 {
  font-size: 16px;
  font-weight: 700;
  color: #1a1a1a;
}

.pspl_icon_flex h5 {
  font-size: 16px;
}

.pspl_icon_flex p:first-of-type {
  font-weight: 700;
}

.pspl_icon_flex p:last-of-type {
  color: #566177;
  font-weight: 600;
}

.pspl_summary p {
  color: #566177;
}

.pspl_features h3 {
  font-size: 20px;
  color: #1a1a1a;
  font-weight: 700;
}

.pspl_features p {
  color: #566177;
  margin-bottom: 8px;
}

.pspl_features i {
  color: #0073e5;
  margin-right: 16px;
}

.pspl_features .MuiSvgIcon-root {
  margin-right: 16px;
  color: #0073e5;
}



.pspl_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pspl_features_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.pspl_features_item h3 {
  font-size: 20px;
  color: #1a1a1a;
}

iframe {
  width: 100%;
  height: 450px;
}

/* pspl cards */

.pspl_similar_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: auto;
}

.single_card_body {
  margin: 0;
}

.single_cards_body {
  width: 100%;
  -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
          box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.pspl_similar_properties:last-child {
}

.vp_single_cards {
  margin-bottom: 30px !important;
}

.single_cards_content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.single_cards_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}



.single_cards_title {
  color: #1a1a1a;
  font-size: 20px;
  font-family: "Prata", sans-serif;
  font-weight: 900;
  margin-bottom: 8px;
}
.single_cards_top a:last-of-type {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  text-decoration: underline;
}

.single_cards_top p {
  color: #566177;
  font-size: 14px;
  font-weight: 600;
}

.sc_top_center_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single_cards_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.single_cards_center .MuiSvgIcon-root {
  color: #5c687d;
  margin: 0;
  font-size: 20px !important;
}

.single_cards_center p {
  font-size: 14px !important;
  margin: 0 12px 0 10px;
  font-weight: 500 !important;
}

.single_cards_location {
  font-size: 14px;
  color: #0073e5 !important;
}

.card_icon {
  font-size: 1.618rem !important;
  color: #0073e5;
  margin-bottom: 8px;
  margin-right: 8px;
}

.icon_info_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
}

.icon_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: row !important;
          flex-flow: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon_flex p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 900;
}

.ml_1 {
  margin-bottom: 4px;
}

.single_cards_bottom {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 8px;
}



.single_cards_bottom p:first-of-type {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.single_cards_bottom p {
  margin-bottom: 0;
}

.single_cards img {
  width: 100%;
  max-width: 400px;
  min-width: 350px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_cards:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.sc_img_container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.card_img_agent {
  position: absolute;
  padding: 10px;
}

.MuiAvatar-circle {
  border: 2px solid white;
}

.MuiAvatar-img {
  min-width: unset !important;
}

.card_price {
  font-size: 18px !important;
  font-weight: 900 !important;
  color: #1a1a1a !important;
}

/* Top Agent Right */

.pspr_top_agent img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pspr_top_agent img:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.pspr_top_agent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pspr_top_agent h3 {
  margin: 20px 0;
}

.pspr_item {
  margin: 0 0 30px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
          box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  padding: 30px;
  width: 100%;
}

.pspr_top_agent a {
  color: #566177;
  font-weight: 400;
}

.pspr_top_agent p {
  color: #0073e5;
  font-weight: 700;
  margin-bottom: 10px;
}


.pspr_top_button {
  width: 100%;
  background-color: #0073e5;
  color: white !important;
  padding: 10px 20px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-weight: 700 !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
          box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border: 2px solid #0073e5;
  margin-top: 1rem;
}

.pspr_top_button:hover {
  color: #0073e5 !important;
}

input.form-control.form_input {
  padding: 5px 0 5px 0;
  text-indent: 8px !important;
}

.pspr_card {
  margin-bottom: 20px;
}



/* VPForm */

.contact_form input,
.contact_form textarea {
  margin: 4px 0;
  border-color: #dad6d6;
}

.contact_form label {
  color: #1a1a1a;
}

.form_title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  display: none;
}

.form_title a {
  color: white;
}
.send_button {
  width: 100%;
  padding: 11.12px 18px !important;
  background-color: #0073e5;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
          box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border: 1px solid #0073e5;
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.send_button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #0073e5 !important;
  background: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background: -o-linear-gradient(left, white, white);
  background: linear-gradient(to right, white, white);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.send_button:hover:before,
.send_button:focus:before,
.send_button:active:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  color: white !important;
}

.send_button:hover {
  color: #0073e5;
}

/* ----- PhiOverlay ----- */

.phi_overlay {
  width: 100%;
  background-color: #fff;
  padding: 60px 30px;
}

.phi_overlay_flex {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.phi_overlay_flex_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.phi_overlay_flex img {
  width: 50%;
  margin: 0 30px;
}

.phi_button {
  margin: 0;
  min-width: 125px;
}

.phi_overlay_content {
  width: 100%;
  margin: 0 30px;
}



.phi_overlay_content h3 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #0073e5;
}

.phi_overlay_content p {
  font-size: 36px;
  color: #1a1a1a;
  font-weight: 500;
  font-family: "Prata", sans-serif;
  line-height: 46px !important;
  margin-bottom: 20px;
}

/* ----- MainNav ----- */
/*
.smaller {
  height: 55px !important;
  transition: all 0.5s ease;
}
*/

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  height: 100px;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
}

.fix_nav {
  position: fixed;
  background-color: white !important;
  height: 55px;
  -webkit-box-shadow: 0 7px 6px -6px rgba(0, 0, 0, 0.158);
          box-shadow: 0 7px 6px -6px rgba(0, 0, 0, 0.158);
  -webkit-transition: height 0.5s ease, color 0s, background-color 0s !important;
  -o-transition: height 0.5s ease, color 0s, background-color 0s !important;
  transition: height 0.5s ease, color 0s, background-color 0s !important;
  top: 0;
}

.nav-link {
  font-weight: 400 !important;
}
.fix_nav .nav-link {
  color: #1a1a1a !important;
  font-weight: 400 !important;
}
.container-fluid {
  max-width: 1280px;
}



.signup_button .MuiSvgIcon-root {
  margin-right: 8px;
}



.signup_button {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
}

.navbar-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15%;
}

.nav-link {
  padding: 5px 20px !important;
  color: white !important;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-right: 16px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #0073e5 !important;
  color: white !important;
}

.navbar-brand img {
  width: 200px;
  position: absolute;
  cursor: pointer;
}

.navbar-toggler {
  font-size: 2rem;
}


.react-multiple-carousel__arrow {
  border-radius: 100% !important;
  width: 45px;
  height: 45px;
}

/* ----- LoginAuth ----- */

.login_signup_auth {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: auto;
  background-image: url(img/loginbg.jpg);
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
}

.login_auth_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 160px auto 100px auto;
}

.signup_body {
  height: 100%;
}

.login_signup_auth h1 {
  text-align: center;
  background-color: #0073e5;
  margin-bottom: 0;
  color: white;
  padding: 20px;
}

.login_body,
.signup_body {
  width: 500px;
  background-color: #fff;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
  margin: 0 15px;
}

.login_signup_content {
  padding: 30px;
}

.login_signup_auth .send_button {
  margin-bottom: 10px;
}

.login_signup_auth label {
  margin: 10px 0;
}

.login_signup_auth label:first-of-type {
  margin-top: 0;
}

.login_signup_auth hr {
  color: #222222;
}

.google_login {
  background-color: #db4437;
  height: 62px;
}

.facebook_login {
  background-color: #3b5998;
  height: 62px;
  margin-bottom: 0 !important;
}

.google_login,
.facebook_login {
  margin: 8px 0;
  font-weight: 600;
}

.sb_2 {
  margin-bottom: 0 !important;
}

.login_icon_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facebook_login .MuiSvgIcon-root {
  font-size: 45px;
}

.or {
  text-align: center;
  margin: 4px 0 8px 0;
}


.login_button_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 576.98px) {
  html, body {
    overflow-y: scroll;
  }

 

  .mobile_hide {
    display: none;
  }

  .lp_cards, .overlay_carousel, .lp_apts, .phi_overlay, .agent_reviews, .mobile_icons, .lp_blog, .customer_reviews, .multi_carousel {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  

  .cr_item {
    margin: 0 0 20px 0 !important;
  }

  .lpb_item {
    width: 100% !important;
    margin: 0 0 20px 0 !important;
  }
  
  .lp_cards_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-bottom: 0;
  }
  
  .lp_cards_body {
    margin-bottom: 20px;
    width: 100%;
  }
  .img_overlay {
    background-attachment: unset;
  }
  .button_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img_overlay_button {
    margin: 8px 0;
  }
 
  .phi_overlay_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    padding-bottom: 40px;
  }
  .phi_overlay img {
    width: 100%;
    margin: 0 0 30px 0 !important;
  }
  .lp_blog_flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
  .customer_reviews_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .multi_carousel {
    padding: 0 !important;
  }
  
  .ps_primary_left {
    padding: 20px;
  }
  .pspr_item {
    padding: 20px;
  }
  .lp_apts {
    padding: 40px 0 !important;
  }

  .pspl_icon_flex {
    flex: 1 50%;
  }
  
}
@media screen and (max-width: 768px) {
  
.signup_button {
    margin-top: 0;
  }
  .navbar-nav {
    margin: 0;
  }
  .hero_content {
    width: 90%;
    margin: -250px auto 0 auto;
  }
  .lp_apts_flex {
    flex-flow: row wrap;
  }
  .property_sorting, .sort_table {
    flex-flow: column;
    justify-content: center !important;
    align-items: center !important;
    
  }

  .property_dropdown {
    min-width: 200px;
    margin: 4px 0;
  }

  .sort_table .hero_button {
    margin-top: 8px;
  }
}

@media screen and (max-width: 800px) {
  .pspl_description_top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  
}

@media screen and (max-width: 991.98px) {
  .navbar {
    background-color: white !important;
    height: 75px;
  }
  .nav-link {
    color: #1a1a1a !important;
    margin-left: 0 !important;
    border-radius: 0;
    width: 50%;
    margin-top: 8px !important;
    padding-left: 8px !important;
  }
  .container-fluid {
    background-color: #fff;
    max-height: unset;
  }

  .navbar-collapse {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-nav {
    margin: 0;
  }
  .signup_flex {
    padding: 0 0 20px 0;
    background-color: #fff;
  }
  .signup_button {
    margin: 0 0 0 8px !important;
  }
  .home {
    
  }
  .customer_reviews_flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  
}

@media screen and (max-width: 1150px) {
  .hero_content {
    margin: auto;
  }
  .ps_primary_left {
    margin: 0 0 30px 0;
  }

  .ps_primary_right {
    margin-left: 0;
  }
  .property_showcase_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .ps_primary_right {
    width: 100%;
  }
  .single_cards_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .single_cards img {
    max-width: unset;
    min-width: unset;
  }
  .single_cards_bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .pspl_similar_flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .single_cards_body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 100%;
  }
  .single_cards_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  .single_cards_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .phi_overlay_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .phi_overlay_flex img {
    width: 100%;
    margin-top: 30px;
  }

  .phi_overlay_content {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1075px) {
  .property_showcase_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .lp_cards_body {
    -webkit-box-flex: 1;
        -ms-flex: 1 275px;
            flex: 1 275px;
  }
}

@media screen and (max-width: 700px) {
  .lp_cards_flex {
    flex-flow: column;
  }
}