/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.all_blogs {
  width: 100%;
  padding: 0 30px 60px 30px;
}

.blog_header {
  color: white;
  font-size: 60px;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 70%);
  position: relative;
  letter-spacing: 3px;
  z-index: 2;
}

.blog_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  max-width: 1280px;
  margin: auto;
}

.blog_box {
  width: 100%;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.blog_list_1 {
  margin-bottom: 30px !important;
}

.blog_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.blog_sidebar {
  width: 38%;
  height: 100%;
  margin-left: 15px;
}

.blog_sidebar_item {
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
          box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  padding: 30px;
  margin-bottom: 30px;
}

.blog_sidebar h3 {
  margin-bottom: 20px;
}
.blog_item {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
          box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  position: relative;
}

.blog_item:last-of-type {
  margin-left: 30px;
}

.blog_item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  cursor: pointer;
}

.blog_img {
  overflow: hidden;
}

.blog_item img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog_date {
  color: #222222;
  font-size: 14px;
  margin-bottom: 15px;
}

.blog_description {
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 600;
}


.blog_item_content {
  padding: 20px;
}

.all_blogs .MuiSvgIcon-root {
  font-size: 14px !important;
}

.blog_button {
  color: #0073e5;
  font-weight: 700;
}

.blog_title {
  color: #1a1a1a;
  font-size: 19px;
  font-weight: 700;
  font-family: "Prata", sans-serif;
}

/* ----- BlogHero ----- */

.blog_hero {
  width: 100%;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-behavior: smooth;
}

/* ----- BlogPosts ----- */

.blog_post {
  width: 100%;
  padding: 60px 30px;
}

.blog_post_left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
          box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  padding: 30px;
  margin-right: 15px;
}

.blog_post_sidebar {
  margin-left: 15px;
}

.blog_post_img img {
  width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.bpl_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 10px 0;
}



.bpl_content {
  color: #566177;
}

.bpl_content h2 {
  color: #1a1a1a;
  font-weight: 700;
  margin: 20px 0;
  
}

.blog_pagination {
  margin-top: 30px;
}

.bp_arrow_back,
.bp_1,
.bp_2,
.bp_arrow_forward {
  width: 40px;
  height: 40px;
  padding: 7px 14px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bp_arrow_back:hover,
.bp_1:hover,
.bp_2:hover,
.bp_arrow_forward:hover {
  background-color: #0073e5;
  color: white;
}

.bp_1 {
  background-color: #0073e5;
  color: white;
}

.bp_1_p1 {
  background-color: white;
  color: #0073e5;
}

.bp_2_p2 {
  background-color: #0073e5;
  color: white;
}

/* Comments */

.blog_comments {
  margin-top: 30px;
}

.comment_textarea {
  height: 300px;
}

.comments_bottom_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.cbf_item_1 {
  margin-right: 30px;
}

.cbf_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  
}
/* Related Posts */

.related_posts_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 12px 0;
}

.rpi_last {
  margin-bottom: 0;
}

.rpi_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 14px;
  margin-left: 12px;
}

.rpi_content h4 {
  font-size: 14px;
}

.rpi_content p {
  margin-bottom: 0;
}

.rp_img img {
  width: 100px;
}