._3UZinu8u1JJRVIMHioZRr5 {
    color: #0073e5;
}

._3N7LQgadYQG6Efvq5phiUY input {
    border-color: #222222;
}

._3N7LQgadYQG6Efvq5phiUY label {
    color: #222222;
}

.FhD6sRmOe8tMY0xW6D0KO label {
    color: #222222;
}

._1b3zzIo85pUJ3f_AHItArg {
    background-color: #0073e5;
padding: 15px;
text-align: left;}

.jAN-uedtUK0ALBwN8-1Q0 {
    background-color: #1769aa;
padding: 15px;
text-align: left;}
