.cc_cards_bg {
  width: 100%;
}
.cc_cards {
  width: 100%;
  padding: 3rem 0;
}

.cc_cards_flex {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.carousel_single_card {
  width: auto;
  box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  background-color: #fff;
  display: flex;
  flex-flow: column;
  margin: 0 15px 0 15px;
  position: relative;
  top: 0;
  transition: 0.3s ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.carousel_single_card:hover {
  box-shadow: 0 0 12px 8.5px rgb(0 0 0 / 12%);
}

.card_img_container img {
  width: 100%;
  transition: all 0.5s ease;
  cursor: pointer;
  object-fit: cover;
  transition-duration: 0.5s !important;
  transition: all 0.5s ease;
}

.cccic .featured_badge {
  top: 0 !important;
}

.ccsc {
  padding-bottom: 40px;
}

.card_img_container {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.carousel_single_card:hover img {
  transform: scale(1.1);
  filter: brightness(85%);
}

.cc_cards_content {
  padding: 20px;
}

.cc_cards_content p {
  font-size: 14px;
  font-weight: 600;
}

.cc_cards_top {
  display: flex;
  flex-flow: column;
}

.cc_cards_top p {
  color: #566177;
}

.cc_cards_top a:first-of-type {
  color: #1a1a1a;
  font-size: 19px;
  font-weight: 900;
  margin-bottom: 8px;
}
.cc_cards_top a:last-of-type {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  text-decoration: underline;
}

.cc_cards_center {
  display: flex;
}



.cc_cards_center .MuiSvgIcon-root {
  font-size: 20px !important;
  margin: 0;
  color: #5c687d;
}

.cc_cards_center p {
  font-size: 14px !important;
  font-weight: 500 !important;
  margin: 0 12px 0 10px;
}

.card_icon {
  font-size: 1.618rem !important;
  color: #0073e5;
  margin-bottom: 8px;
  margin-right: 8px;
}

.cc_cards_location {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #0073e5 !important;
}

.cc_icon_info_flex {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.cc_icon_flex {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.cc_icon_flex p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 900;
}

.ml_1 {
  margin-bottom: 4px;
}

.cc_cards_bottom {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
}

.color {
  color: #0073e5;
  font-weight: 700;
}


.more_button {
  padding: 4px;
  color: #1a1a1a !important;
  text-decoration: none !important;
}

.cc_cards_bottom p:first-of-type {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.cc_cards_bottom p {
  margin-bottom: 0;
}

.card_img_agent {
  position: absolute;
  padding: 10px;
}

.MuiAvatar-circle {
  border: 2px solid white;
}
