/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.cc_cards_bg {
  width: 100%;
}
.cc_cards {
  width: 100%;
  padding: 3rem 0;
}

.cc_cards_flex {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.carousel_single_card {
  width: auto;
  -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
          box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0 15px 0 15px;
  position: relative;
  top: 0;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.carousel_single_card:hover {
  -webkit-box-shadow: 0 0 12px 8.5px rgb(0 0 0 / 12%);
          box-shadow: 0 0 12px 8.5px rgb(0 0 0 / 12%);
}

.card_img_container img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-duration: 0.5s !important;
       -o-transition-duration: 0.5s !important;
          transition-duration: 0.5s !important;
  transition: all 0.5s ease;
}

.cccic .featured_badge {
  top: 0 !important;
}

.ccsc {
  padding-bottom: 40px;
}

.card_img_container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.carousel_single_card:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.cc_cards_content {
  padding: 20px;
}

.cc_cards_content p {
  font-size: 14px;
  font-weight: 600;
}

.cc_cards_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.cc_cards_top p {
  color: #566177;
}

.cc_cards_top a:first-of-type {
  color: #1a1a1a;
  font-size: 19px;
  font-weight: 900;
  margin-bottom: 8px;
}
.cc_cards_top a:last-of-type {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  text-decoration: underline;
}

.cc_cards_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cc_cards_title {
  font-family: 'Prata', sans-serif;
}

.cc_cards_center .MuiSvgIcon-root {
  font-size: 20px !important;
  margin: 0;
  color: #5c687d;
}

.cc_cards_center p {
  font-size: 14px !important;
  font-weight: 500 !important;
  margin: 0 12px 0 10px;
}

.card_icon {
  font-size: 1.618rem !important;
  color: #0073e5;
  margin-bottom: 8px;
  margin-right: 8px;
}

.cc_cards_location {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #0073e5 !important;
}

.cc_icon_info_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cc_icon_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cc_icon_flex p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 900;
}

.ml_1 {
  margin-bottom: 4px;
}

.cc_cards_bottom {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 8px;
}

.color {
  color: #0073e5;
  font-weight: 700;
}


.more_button {
  padding: 4px;
  color: #1a1a1a !important;
  text-decoration: none !important;
}

.cc_cards_bottom p:first-of-type {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.cc_cards_bottom p {
  margin-bottom: 0;
}

.card_img_agent {
  position: absolute;
  padding: 10px;
}

.MuiAvatar-circle {
  border: 2px solid white;
}