/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.contact_overlay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact_overlay_img {
  
  width: 100%;
  min-height: 90vh;
  position: relative;
  z-index: 1;
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
  background-image: url(img/contactoverlay.jpg);

}

.coct_color {
  background-color: #0073e5;
  padding: 8px 20px;
}

.co_content_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: auto;
  position: absolute;
  z-index: 2;
}

.co_content_text {
  color: white;
  width: 50%;
}

.co_content_text h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 70%);
  line-height: 70px;

}

.co_content_text p {
  font-size: 20px;
}

.co_contact_form {
  width: 425px;
  background-color: #f1f2f5;
  padding: 30px;
}

.co_contact_form h3 {
  font-size: 24px;
}

.co_contact_form input,
.co_contact_form textarea {
  
}

@media screen and (max-width: 576.98px) {
    
    .co_content_flex h2 {
        width: 90vw;
    }
    .co_contact_form {
        width: 90vw;
        padding: 20px;
        margin-top: 10px;
    }
    .co_content_text {
        width: 90vw;
    }
}

@media screen and (max-width: 991px) {
  .contact_overlay h2 {
    font-size: 32px;
    line-height: 55px;
  }
}

@media screen and (max-width: 768px) {
  .contact_overlay {
    display: none;
  }
  .co_content_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
