/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.contact_page {
  padding: 0 30px 60px 30px;
}

.contact_us {
  background-color: #fff;
  padding: 30px;
  max-width: 1280px;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
  box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.contact_us h2 {
  font-size: 26px;
  font-weight: 700;
  color: #1a1a1a;
  margin: auto;
  margin-bottom: 20px;
}

.contact_us_flex {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact_us_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-left: 3rem;
}

.contact_form_primary {
  width: 62%;
}

.contact_us_icon_info_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.contact_us_icon_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.contact_us_icon_info_flex p {
  margin-bottom: 0;
  color: #1a1a1a;
  font-weight: 800;
}

.pb {
  color: #566177 !important;
  font-weight: 600 !important;
}

.contact_us_icon_info_flex a {
  color: #566177;
  font-weight: 600;
}

.contact_us_icon_info_flex .MuiSvgIcon-root {
  color: #0073e5;
  margin-right: 12px;
}

.contact_map {
  max-width: 1280px;
  margin: 3rem auto 0 auto;
}

@media screen and (max-width: 680px) {
  .contact_us_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  .contact_form_primary {
    width: 100%;
  }
  .contact_us_info {
    width: 100%;
    margin: 40px auto 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .contact_page {
    padding: 0 0 60px 0;
  }
  .contact_us {
    width: 95%;
  }
}
