/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.customer_reviews {
  width: 100%;
  background-color: #fafafa;
  padding: 60px 30px;
}

.customer_reviews h2 {
  text-align: center;
  color: #1a1a1a;
  font-weight: 700;
}

.customer_reviews_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: auto;
  gap: 30px;
}

.cr_item {
  -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
          box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
  background-color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}



.cr_img_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cr_item img {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 20px 20px 0;
}

.cr_name {
  color: #1a1a1a;
  font-weight: 700;
  margin-bottom: 0;
}

.cr_profession {
  color: #5a5a5a;
  font-weight: 700;
  margin-bottom: 0;
}

.cr_review {
  color: #566177;
  font-size: 14px;
  font-weight: 600;
}

.cr_icons a {
  color: #222222;
}

.fb,
.ig {
  -webkit-transition: all 0.2s ease-in !important;
  -o-transition: all 0.2s ease-in !important;
  transition: all 0.2s ease-in !important;
}

.fb:hover {
  color: #3b5998;
}

.ig:hover {
  color: #4c68d7;
}

.customer_stars {
  color: #ff9529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}