/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.featured_listings {
    width: 100%;
}

.featured_listings_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.featured_item:last-of-type {
    margin-bottom: 0;
}

.featured_content {
    margin: 0 0 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.featured_content a{
color: #1a1a1a;
font-weight: 700;
}

.featured_content p {
    color: #1a1a1a;
    font-weight: 800;
    margin-bottom: 0;
}

.featured_img {
    overflow: hidden;
}

.featured_img img {
    width: 100px;      
    min-width: 100px !important; 
    -webkit-transition: 0.5s ease; 
    -o-transition: 0.5s ease; 
    transition: 0.5s ease;

}

.featured_img img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: brightness(75%);
            filter: brightness(75%);
}

.featured_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}