/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

footer {
  width: 100%;
  padding: 60px 0 0 0;
  background-color: #2c2c2c;
}

.footer_flex {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  padding: 0 30px !important;
}

.footer_item {
  color: white;
  padding: 5px 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 250px;
}

.footer_item .featured_item p {
  color: white;
}

.footer_avatar {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
  margin: 0 12px 0 0;
}

.footer_agents li {
  margin-bottom: 20px !important;
}

.footer_agents a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_description {
  width: 25%;
  font-size: 14px;
}

.footer_description img {
  width: 100%;
  margin-bottom: 20px;
}

.footer_item li {
  list-style-type: none;
  margin-bottom: 20px;
}

.footer_item li a {
  margin-bottom: 20px;
}

.footer_item ul {
  padding: 0;
}

.footer_properties {
  max-width: unset;
}

.footer_properties .featured_item a {
  color: rgb(203, 203, 203) !important;
}

.footer_item .MuiSvgIcon-root {
  margin-right: 8px;
}

.footer_item a {
  color: white !important;
  font-size: 14px;
}

.footer_item h3 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
  color: white;
}

.footer_newsletter {
  width: 500px;
  margin: auto;
  padding-bottom: 90px;
}

.footer_newsletter label {
  margin-bottom: 8px;
}

.footer_newsletter h3,
.footer_newsletter label {
  color: white;
}

.footer_newsletter_button {
  background-color: #0073e5;
  padding: 12.36px 20px;
  color: white;
  font-weight: 700;
  position: relative;
  top: 24px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 1px solid #0073e5;
}



.footer_newsletter_button:hover {
  color: white;
  background-color: transparent;
}

.footer_copyright {
  width: 100%;
  background-color: #1a1a1a;
}

.footer_copyright_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 20px 0;
}

.footer_copyright p {
  color: #bbbbbb;
  margin-bottom: 0;
}

.footer_copyright a {
  color: #bbbbbb;
  margin: 0 5px;
}

.footer_copyright a:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 576.98px) {
  footer {
    padding: 0;
  }

  .footer_newsletter {
    margin: 20px 0 40px 0;
    padding: 15px;
  }
  .footer_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 0 !important;
  }
  .footer_item {
    max-width: unset;
    width: 100%;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    text-align: left !important;
  }
  .footer_flex h3 {
    margin: 20px 0;
  }
}

@media screen and (max-width: 991.98px) {
  .footer_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_item {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
    max-width: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer_newsletter {
    width: 90%;
    margin-top: 40px;
  }
}