footer {
    width: 100%;
    padding: 60px 30px;
    background-color: #333;
}

.footer_flex {
    max-width: 1280px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: auto;
}

.footer_avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100px;
    margin: 0 12px 20px 0;
}

.footer_agents li {
    margin-bottom: 20px !important;
}

.footer_agents a {
    display: flex;
    align-items: center;
}

.footer_description {
    width: 25%;
    font-size: 14px;
}

.footer_description img {
    width: 62%;
    margin-bottom: 20px;
}

.footer_item {
    color: white;
    max-width: 25%;
}

.footer_item li {
    list-style-type: none;
    margin-bottom: 20px;
}

.footer_item ul {
    padding: 0;
}

.footer_item .MuiSvgIcon-root {
    margin-right: 8px;
}

.footer_item a {
    color: white !important;
    font-size: 14px;
}


.footer_item h4 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
}

