footer {
    width: 100%;
    padding: 0 30px 60px 30px;
    background-color: #091f33;
}

.footer_flex {
    max-width: 1280px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: auto;
}

.footer_avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100px;
    margin: 0 12px 0 0;
}

.footer_agents li {
    margin-bottom: 20px !important;
}

.footer_agents a {
    display: flex;
    align-items: center;
}

.footer_description {
    width: 25%;
    font-size: 14px;
}

.footer_description img {
    width: 62%;
    margin-bottom: 20px;
}

.footer_item {
    color: white;
    max-width: 25%;
    padding-top: 5px;
}

.footer_item li {
    list-style-type: none;
    margin-bottom: 20px;
}

.footer_item li a {
    margin-bottom: 20px;
}

.footer_item ul {
    padding: 0;
}

.footer_item .MuiSvgIcon-root {
    margin-right: 8px;
}

.footer_item a {
    color: white !important;
    font-size: 14px;
}


.footer_item h3 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
    color: white;
}

@media screen and (max-width: 576.98px) {
    footer {
        padding: 20px;
    }
    .footer_flex {
        flex-flow: column;
    }
    .footer_item {
        max-width: unset;
        width: 100%;
    }
    .footer_flex h3 {
        margin: 20px 0;
    }
}