.lp_blog {
    width: 100%;
    background-color: #f1f2f5;
    padding: 60px 0 0 0;
}

.lp_blog h2 {
    text-align: center;
    color: #1a1a1a;
    font-weight: 700;
}

.lp_blog .lp_header_p {
    text-align: center;
    color: #222222;
    max-width: 500px;
    margin: 20px auto;
}

.lpb_item {
    background-color: #fff;
    margin: 15px;
    position: relative;
    box-shadow: 0 0 12px 2px rgb(0 0 0 / 7.5%);
    transition: 0.3s ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.lpb_item:hover {
    box-shadow: 0 0 12px 8.5px rgb(0 0 0 / 12%);

}

.lpb_item img{
    transition: all 0.5s ease;
    width: 100%;
}

.lpb_item:hover img {
    transform: scale(1.1);
    filter: brightness(85%);
    cursor: pointer;
  }

.lp_blog_flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    max-width: 1280px;
    margin: auto;
}

.blog_img {
    overflow: hidden;
    width: 100%;

}

.blog_description {
    color: #566177;
}

.blog_img img {
    width: 100%;
    object-fit: cover;
}

.lp_blog_button {
    padding: 12.36px 20px !important;
  background-color: #0073e5;
  color: white !important;
  font-weight: 700;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
  border: 1px solid #0073e5 !important;
  min-width: 225px;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  margin: 10px;
  -webkit-transform: perspective(1px) translateZ(0);
  transition: all 0.3s ease;
  position: relative;
  margin-bottom: 10px;
}

.lp_blog_button::before {
    content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #0073e5 !important;
  background: linear-gradient(to right, white, white);
  transform: scaleX(0);
  transform-origin: 50% 50%;
  transition-property: transform;
  transition: all 0.3s ease,
}

.lp_blog_button:hover:before,
.lp_blog_button:focus:before,
.lp_blog_button:active:before {
    transform: scaleX(1);
  color: white !important;
}

.lp_blog_button:hover,
.lp_blog_button:focus,
.lp_blog_button:active {
    color: #0073e5 !important;

}

.lp_blog .MuiSvgIcon-root {
    font-size: 18px;
}




.lpbb {
display: flex;
justify-content: center;
min-width: 200px;
    margin: 20px auto 0 auto;
}
.blog_title {
    font-family: 'Prata', sans-serif;
}

@media screen and (max-width: 900px) {
    .lp_blog_flex {
        flex-flow: row wrap;
    }
    .lpb_item {
        flex: 1 200px;
    }
    
}