.navbar {
    background-color: transparent;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 75px;
box-shadow: none;
    z-index: 9999;
    margin: auto;
    position: absolute;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1280px;
  }
  
  .nav-logo {
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }

  
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-bottom: 0;
  }
  
  .nav-links {
    color: #fff !important;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 16px !important;
    font-weight: 600 !important;
    height: 100%;
    transition: all 0.23s ease-in;
  }
 
  
  .nav-item {
    margin-right: 1rem;
  }
  
 
  
  .nav-item .active {
    color: #0073e5;
  }
  
  .nav-icon {
    display: none;
  }

  .nav-logo img {
    width: 200px;
    cursor: pointer;
  } 

  .fix_nav {
    position: fixed;
    background-color: white !important;
    height: 55px;
    width: 100%;
    -webkit-box-shadow: 0 7px 6px -6px rgba(0, 0, 0, 0.158);
    box-shadow: 0 7px 6px -6px rgba(0, 0, 0, 0.158);
    -webkit-transition: height 0.5s ease, color 0s, background-color 0s !important;
    -o-transition: height 0.5s ease, color 0s, background-color 0s !important;
    transition: height 0.5s ease, color 0s, background-color 0s !important;
    top: 0;
  }
  
  
  
  
  .fix_nav .nav-links {
    color: #1a1a1a !important;
  }

  .dropdown_item:hover {
  background-color: #0073e5 !important;
  color: white !important;
}
  
  @media screen and (max-width: 960px) {
      .fix_nav {
          height: 75px;
      }
      .fix_nav .nav-icon {
          color: #1a1a1a;
      }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 0;
      position: absolute;
      top: 72px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: white;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-menu .nav-links {
        color: #1a1a1a !important;
    }
    .nav-item .active {
      color: #0073e5;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      color: #1a1a1a;
      width: 100%;
      display: table;
    }

    
  
    .nav-icon {
      display: block;
      position: absolute;
    top: -15px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 32px;
      cursor: pointer;
      color: white;
    }
  }

  /* ----- Dropdowns ----- */ 

  
  
  .menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .menu-trigger {
      background-color: transparent !important;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto; /* Strictly for positioning */
  }

  .dropdown_container {
      padding: 0 !important;
  }

  .dropdown_link {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .dropdown_item {
      color: #1a1a1a;
      transition: all 0.23s ease-in; 
  }
  
  .menu-trigger:hover {
  }
  
  .menu-trigger span {
    font-size: 16px !important;
    height: 48px;
  }
  
  .menu-trigger img {
  }
  
  .menu {
    background: #ffffff;
    border-radius: 0;
    position: absolute;
    top: 75px;
    
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    border-bottom: 1px solid #dddddd;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
  

  /* ----- originalnav ----- 

  .navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    height: 100px;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    background-color: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: absolute;
  }

  .nav-link {
  padding: 5px 20px !important;
  color: white !important;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-right: 16px;
  cursor: pointer;
}




*/