.multi_carousel {
  padding: 0;
}

.multi_car_flex {
  max-width: 1280px;
  margin: auto;
  box-shadow: none !important;
  overflow-x: hidden;
  padding: 60px 0;
}

.carousel_single_card {
    margin: 0 15px 0 15px !important;
}

.lp_single_card {
  width: 100%;
  margin: auto !important;
  padding-bottom: 10px;
}

.react-multi-carousel-dot--active {
  
}

.react-multiple-carousel__arrow {
  font-weight: 700;
  z-index: 1;
}

.react-multiple-carousel__arrow--right {
}

.react-multi-carousel-dot-list {
  
}


@media screen and (max-width: 576.98px) {
  .multi_carousel {
    padding: 20px;
  }
  
  .ccsc {
    
  }
}