.overlay_carousel {
    margin: auto;
    background-color: #fafafa;
    padding: 60px 30px;
}

.overlay_carousel h2,
.overlay_carousel p {
    text-align: center;
}

.overlay_carousel h2 {
    color: #1a1a1a;
    font-weight: 700;
}

.overlay_carousel p {
    margin-bottom: 0;
}

.overlay_carousel_container {
    max-width: 1280px;
    margin: 60px auto 0 auto;
}

.overlay_carousel .react-multi-carousel-dot-list {

}

.react-multiple-carousel__arrow::before {
    color: #1a1a1a;
}

.react-multiple-carousel__arrow {
    background-color: white;
    width: 75px;
    height: 75px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 7.5%);

}


